<footer class="site-footer">

  <div class="footer-inner">

    <div>
      <div class="footer-name">
        North American GeoGebra Journal
      </div>

      <p>
        A peer-reviewed, open-access journal dedicated to the innovative
        use of GeoGebra in mathematics education.
      </p>
    </div>


    <div>
      <div class="footer-heading">
        Journal
      </div>

      <ul>
        <li>
          <a href="{{ '/about.html' | relative_url }}">
            About
          </a>
        </li>
        <li>
          <a href="{{ '/archives.html' | relative_url }}">
            Archives
          </a>
        </li>
        <li>
          <a href="{{ '/submit.html' | relative_url }}">
            Submit
          </a>
        </li>
      </ul>
    </div>


    <div>
      <div class="footer-heading">
        Resources
      </div>

      <ul>
        <li>
          <a href="https://github.com/NorthAmericanGeoGebraJournal/article-template"
             target="_blank" rel="noopener">
            Article template ↗
          </a>
        </li>

        <li>
          <a href="https://github.com/NorthAmericanGeoGebraJournal/editorial/issues"
             target="_blank" rel="noopener">
            Submissions &amp; open review ↗
          </a>
        </li>

        <li>
          <a href="https://github.com/NorthAmericanGeoGebraJournal"
             target="_blank" rel="noopener">
            The journal on GitHub ↗
          </a>
        </li>

        <li>
          <a href="https://www.geogebra.org/" target="_blank" rel="noopener">
            GeoGebra ↗
          </a>
        </li>

        <li>
          <a href="https://mathed.miamioh.edu/index.php/ggbj"
             target="_blank" rel="noopener">
            Legacy OJS Archive ↗
          </a>
        </li>

        <li>
          <a href="{{ '/contact.html' | relative_url }}">
            Contact
          </a>
        </li>
      </ul>
    </div>

  </div>


  <div class="footer-copy">

    <span>
      © {{ site.time | date: "%Y" }}
      North American GeoGebra Journal
    </span>

    <span>
      Published by the North American GeoGebra Journal
    </span>

  </div>

</footer>