<header class="site-header">

  <div class="header-inner">

    <div class="header-top">
      <div class="journal-wordmark">
        <div class="journal-label">Journal</div>
        <div class="journal-name">
          North American GeoGebra Journal
        </div>
        <div class="journal-abbr">
          NAGJ
        </div>
      </div>
    </div>

    <nav class="site-nav">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/articles/' | relative_url }}">Articles</a>
      <a href="{{ '/archives/' | relative_url }}">Archives</a>
      <a href="{{ '/submit/' | relative_url }}">Submit</a>
      <a href="{{ '/team/' | relative_url }}">Editorial Team</a>
    </nav>

  </div>

</header>